@import '_cssReset';
@import '_variables';
@import '_mixins';
@import '_resets';
@import '_nav';
@import '_icons';



body {
  background: $backColor;
  color: $fontColor;
  width: $backWidth;
}

h1 {
  padding: $backPadding;
  margin: $backMargin;
}

.imgDiv {
  margin: 40px 40px;
  width: 10px 40px 40px 10px;
  background-color: lightpink;
}

.chipmunk {
  margin: $imageMargin;
  width: $imageWidth;
}

.koala {
  margin: $imageMargin;
  width: $imageWidth;
}

gallery-text {
  border: 2px;
}

.gallery-text {
    float: left;
    width: $paraWidth;
    margin: 1%;
}
.gallery-text p {
    font-size: 20px;
    word-break: break-all;
}

ul {
  @extend .gallery-text;
}
